@page "/pizzass"

<!--- Injection de dependances -->
@using BlazingPizza.Data
@using System.Net.Http;

@inject PizzaService PizzaSvc
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


@if (todaysPizzas == null)
{
    <p>We're finding out what pizzas are available today...</p>
}
else
{
    <h1>Choose your pizza</h1>

    <p>We have all these delicious recipes:</p>

    <table>
        <thead>
            <tr>
            <th>Pizza Name</th>
            <th>Description</th>
            <th>Vegetarian?</th>
            <th>Vegan?</th>
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var pizza in todaysPizzas)
        {
        <tr>
            <td>@pizza.Name</td>
            <td>@pizza.Description</td>
            <td>@pizza.Vegetarian</td>
            <td>@pizza.Vegan</td>
            <td>@pizza.Price</td>
        </tr>
        }
        </tbody>
    </table>
}

@code {
    //private Pizza[] todaysPizzas = default!;
    private List<Pizza> todaysPizzas = new List<Pizza>();
    protected override async Task OnInitializedAsync()
    {
        // Call the service here
        //todaysPizzas = await PizzaSvc.GetPizzasAsync();
        todaysPizzas = await HttpClient.GetFromJsonAsync<List<Pizza>>(NavigationManager.BaseUri + "pizzas") ?? new List<Pizza>();
    }
}